body{
    background: url(img/Roma.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
}

.pointer {
    cursor: pointer;
}

.dark-opacity{
    background-color: rgba(0, 0, 0, 0.8);
}